*{
  background-color: aqua;
}
.column {
    float: left;
    width: 33.33%;
  }
  .row{
    margin-left: 20px;
    margin-right:20px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .number{
    display: flex;
    flex-direction: row;
    margin-top:5px;
    margin-bottom: 5px;
  }
  .number1{
    display: flex;
    flex-direction: row;
    margin-top:5px;
    margin-bottom: 5px;
  }
  .label{
    margin:10px;
  }
  h1{
    text-align: center;
    color: rgb(171, 78, 20);
    font-weight: 900;
  }
  button{
    border-radius: 10%;
    width:80px;
    background-color:rgb(89, 28, 243);
    color:white;
  }